## Data Cleaning - framingham.csv

### Import libraries

In [10]:
import pandas as pd
df = pd.read_csv('GrpAssignment/framingham.csv')
num_nan_rows = df.isnull().sum(axis=1).astype(bool).sum()
total_rows = df.shape[0]
print('Number of records in total: {}\nNumber of records that has NaN values: {}'.format(total_rows, num_nan_rows))

Number of records in total: 4238
Number of records that has NaN values: 582

### Drop rows with missing values

In [11]:
df = df.dropna()
print('Number of records after removing NaN values: {}'.format(df.shape[0]))

Number of records after removing NaN values: 3656

### Dataset overview

In [12]:
df.head()
df.columns
for col in df.columns:
    print("Unique values in column '{}' are:".format(col))
    print(df[col].unique())

Unique values in column 'id' are:
[   0    1    2 ... 4233 4234 4237]
Unique values in column 'male' are:
[1 0]
Unique values in column 'age' are:
[39 46 48 61 43 63 45 52 50 41 38 42 44 47 35 60 36 59 54 37 53 49 65 51
 62 40 56 67 57 66 64 55 58 68 34 33 32 70 69]
Unique values in column 'education' are:
[4. 2. 1. 3.]
Unique values in column 'currentSmoker' are:
[0 1]
Unique values in column 'cigsPerDay' are:
[ 0. 20. 30. 23. 15. 10.  5. 35. 43.  1. 40.  3.  9.  2. 12.  4. 18. 60.
 25. 45.  8. 13. 11.  7.  6. 38. 50. 29. 17. 16. 19. 70. 14.]
Unique values in column 'BPMeds' are:
[0. 1.]
Unique values in column 'prevalentStroke' are:
[0 1]
Unique values in column 'prevalentHyp' are:
[0 1]
Unique values in column 'diabetes' are:
[0 1]
Unique values in column 'totChol' are:
[195. 250. 245. 225. 285. 228. 205. 313. 260. 254. 247. 294. 332. 221.
 232. 291. 190. 234. 215. 270. 272. 295. 226. 209. 214. 178. 233. 180.
 243. 237. 311. 208. 252. 261. 179. 267. 216. 240. 266. 255. 185. 220.
 235. 212. 223. 300. 302. 175. 189. 258. 202. 183. 274. 170. 210. 197.
 326. 188. 256. 244. 193. 239. 296. 269. 275. 268. 265. 173. 273. 290.
 278. 264. 282. 257. 241. 288. 200. 213. 303. 246. 150. 187. 286. 154.
 279. 293. 259. 219. 230. 320. 312. 165. 159. 174. 242. 301. 167. 308.
 325. 229. 236. 224. 253. 464. 248. 171. 186. 227. 249. 176. 196. 310.
 164. 135. 238. 207. 342. 287. 182. 352. 284. 203. 262. 155. 323. 206.
 283. 319. 194. 340. 328. 222. 368. 218. 276. 339. 231. 198. 201. 277.
 304. 177. 199. 292. 305. 152. 161. 168. 181. 251. 271. 217. 370. 439.
 145. 263. 330. 157. 398. 162. 314. 166. 160. 281. 289. 355. 307. 156.
 329. 143. 211. 298. 334. 192. 184. 204. 280. 191. 163. 318. 353. 360.
 335. 158. 346. 169. 140. 324. 600. 315. 392. 322. 306. 309. 149. 137.
 172. 317. 358. 345. 391. 410. 297. 338. 148. 372. 366. 333. 327. 344.
 144. 390. 321. 405. 359. 350. 336. 380. 299. 124. 371. 113. 354. 382.
 364. 341. 133. 367. 153. 432. 351. 337. 363. 331. 316. 361. 453. 347.
 373. 385. 119.]
Unique values in column 'sysBP' are:
[106.  121.  127.5 150.  130.  180.  138.  100.  141.5 162.  133.  131.
 142.  124.  140.  112.  122.  139.  108.  148.  132.  137.5 102.  182.
 115.  147.  124.5 160.  153.  111.  116.5 206.   96.  179.5 119.  116.
 156.5 145.  114.  143.5 158.  157.  123.5 126.5 136.  154.  190.  107.
 112.5 110.  138.5 155.  151.  152.  179.  113.  200.  132.5 126.  123.
 134.  141.  135.  187.  127.  160.5 105.  109.  128.  118.  117.5 149.
 180.5 136.5 212.  191.  121.5 173.  144.  129.5 117.  125.  144.5 170.
 137.   94.  166.  177.5 129.  159.  130.5 107.5 189.  168.  197.5 146.
 174.   98.  131.5 101.  158.5  97.  151.5  97.5 120.  204.  157.5 140.5
 171.  215.   95.  156.  122.5 178.  146.5 113.5 197.   90.  109.5 165.
  95.5 209.  162.5 295.  103.  134.5 115.5 174.5 163.  118.5 185.  220.
 164.  120.5  98.5 161.  139.5 168.5 176.  163.5 128.5 167.  205.5 119.5
 167.5 152.5 186.  183.  153.5 147.5 175.  142.5 192.   96.5 159.5 177.
 102.5 244.  104.  213.  199.  184.  198.  114.5 125.5 111.5 105.5 143.
 161.5 164.5 171.5 108.5 201.  148.5 172.  243.  145.5 187.5  99.  181.
 133.5 100.5 135.5 172.5 103.5 149.5 182.5 186.5 217.  196.  193.  110.5
 155.5  92.  169.  166.5 202.  150.5 195.  232.   85.5 184.5 188.  205.
 169.5 210.  181.5 188.5 176.5  92.5 202.5 154.5  83.5 106.5 170.5  93.
 175.5 207.5 199.5 101.5 248.   99.5  85.  230.  214.  192.5 104.5 194.
  93.5 207.  185.5]
Unique values in column 'diaBP' are:
[ 70.   81.   80.   95.   84.  110.   71.   89.  107.   76.   88.   94.
  90.   78.   84.5  70.5  82.   68.   91.  121.   85.5  85.   74.   92.5
  98.  101.   73.   83.5  92.   63.  114.   77.5  69.   66.   82.5 102.
  79.   75.   87.   99.   60.   67.5  72.5 106.   86.5 104.   86.   61.5
  71.5  76.5  64.   77.   88.5 105.   96.   97.  100.  106.5  93.   80.5
 124.5  61.   83.   67.   74.5  66.5  65.   72.   99.5 122.5  57.   57.5
 111.   78.5 104.5  89.5 112.   55.  120.  118.   59.  133.   95.5  96.5
 135.   64.5  68.5  98.5  62.  117.   59.5 103.   75.5  73.5  69.5  87.5
 108.   93.5  90.5 114.5  62.5  94.5 140.  124.   91.5 115.  109.  102.5
  65.5 105.5 103.5  63.5  79.5 107.5 142.5 109.5  58.   97.5 116.5 100.5
 116.  119.   81.5  54.  132.  101.5 136.   51.  128.  125.  130.  110.5
 113.   53.  108.5 112.5  52.   48.   56.   60.5 115.5 127.5]
Unique values in column 'BMI' are:
[26.97 28.73 25.34 ... 26.7  43.67 19.71]
Unique values in column 'heartRate' are:
[ 80.  95.  75.  65.  85.  77.  60.  79.  76.  93.  72.  98.  64.  70.
  71.  62.  73.  90.  96.  68.  63.  88.  78.  83. 100.  84.  57.  50.
  74.  86.  55.  92.  66.  87. 110.  81.  56.  89.  82.  54.  69.  67.
  52.  61. 140. 130.  58. 104.  94. 105.  91.  53. 108. 106.  59. 107.
  48. 112. 125. 103.  44.  47.  45.  97. 122. 102. 120.  99. 115. 143.
 101.  46.]
Unique values in column 'glucose' are:
[ 77.  76.  70. 103.  85.  99.  78.  79.  88.  61.  64.  84.  72.  89.
  65. 113.  75.  83.  66.  74.  63.  87. 225.  90.  80. 100. 215.  98.
  95.  94.  55.  82.  93.  73.  45. 202.  68.  97. 104.  96. 126. 120.
 105.  71.  56.  60. 117.  62. 102.  58.  92. 109.  86. 107.  54.  67.
  69.  57.  91. 132. 150.  59.  81. 115. 140. 112. 118. 114. 160. 110.
 123. 108. 145. 122. 137. 106. 127. 205. 130. 101.  47.  53. 216. 163.
 144. 116. 121. 172. 124. 111.  40. 186. 223. 325.  44. 156. 268.  50.
 274. 292. 255. 136. 206. 131. 148.  43. 173. 386. 155. 147. 170.  52.
 320. 254. 394. 270. 244. 183. 142. 119. 167. 135. 207. 129. 177. 250.
 294. 125. 332. 368. 348. 370. 193. 191. 256. 235. 210. 260.]
Unique values in column 'TenYearCHD' are:
[0 1]

### Normalize data

In [13]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
id = df.pop('id')
df_normalized = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
df_normalized = pd.concat([df_normalized, id.reset_index(drop=True)], axis=1)
last_col = df_normalized.pop(df_normalized.columns[-1])
df_normalized.insert(0, last_col.name, last_col)
df_normalized.head(20)

,id,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,0,1.0,0.184211,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.168378,0.106383,0.232804,0.277024,0.363636,0.104520,0.0
1,1,0.0,0.368421,0.333333,0.0,0.000000,0.0,0.0,0.0,0.0,0.281314,0.177305,0.349206,0.319680,0.515152,0.101695,0.0
2,2,1.0,0.421053,0.000000,1.0,0.285714,0.0,0.0,0.0,0.0,0.271047,0.208038,0.338624,0.237518,0.313131,0.084746,0.0
3,3,0.0,0.763158,0.666667,1.0,0.428571,0.0,0.0,1.0,0.0,0.229979,0.314421,0.497354,0.316045,0.212121,0.177966,1.0
4,4,0.0,0.368421,0.666667,1.0,0.328571,0.0,0.0,0.0,0.0,0.353183,0.219858,0.380952,0.183228,0.414141,0.127119,0.0
5,5,0.0,0.289474,0.333333,0.0,0.000000,0.0,0.0,1.0,0.0,0.236140,0.456265,0.656085,0.357731,0.333333,0.166667,0.0
6,6,0.0,0.815789,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.188912,0.257683,0.243386,0.425836,0.161616,0.127119,1.0
7,7,0.0,0.342105,0.333333,1.0,0.285714,0.0,0.0,0.0,0.0,0.410678,0.078014,0.243386,0.148812,0.353535,0.107345,0.0
8,8,1.0,0.526316,0.000000,0.0,0.000000,0.0,0.0,1.0,0.0,0.301848,0.274232,0.433862,0.262239,0.323232,0.110169,0.0
9,9,1.0,0.289474,0.000000,1.0,0.428571,0.0,0.0,1.0,0.0,0.229979,0.371158,0.624339,0.195589,0.494949,0.135593,0.0
10,10,0.0,0.473684,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.289528,0.234043,0.296296,0.178623,0.313131,0.101695,0.0
11,11,0.0,0.289474,0.333333,0.0,0.000000,0.0,0.0,0.0,0.0,0.275154,0.224586,0.423280,0.293262,0.282828,0.059322,0.0
12,12,1.0,0.368421,0.000000,1.0,0.214286,0.0,0.0,1.0,0.0,0.371663,0.276596,0.486772,0.261028,0.545455,0.067797,0.0
13,13,0.0,0.236842,0.666667,0.0,0.000000,1.0,0.0,1.0,0.0,0.449692,0.191489,0.423280,0.382210,0.212121,0.124294,0.0
14,15,0.0,0.157895,0.333333,1.0,0.285714,0.0,0.0,1.0,0.0,0.221766,0.267139,0.444444,0.140814,0.515152,0.084746,1.0
15,16,1.0,0.421053,0.666667,1.0,0.142857,0.0,0.0,1.0,0.0,0.244353,0.257683,0.444444,0.165536,0.202020,0.090395,0.0
16,17,0.0,0.368421,0.333333,1.0,0.285714,0.0,0.0,0.0,0.0,0.365503,0.134752,0.317460,0.190015,0.363636,0.138418,1.0
17,18,0.0,0.157895,0.333333,1.0,0.071429,0.0,0.0,0.0,0.0,0.168378,0.182033,0.386243,0.186621,0.313131,0.107345,0.0
18,19,1.0,0.236842,0.333333,0.0,0.000000,0.0,0.0,0.0,0.0,0.168378,0.262411,0.423280,0.274842,0.414141,0.070621,0.0
19,20,0.0,0.263158,0.333333,1.0,0.428571,0.0,0.0,0.0,0.0,0.158111,0.115839,0.238095,0.146631,0.282828,0.127119,0.0

### Write to new CSV

In [18]:
df_normalized.to_csv('GrpAssignment/cleaned_data_fram.csv', index=False)